.logotype {
  width: 38px;
  height: 38px;
  background: url(../../images/logo.png) center center no-repeat;
  animation: rotation 10s linear infinite normal;
  transition: all 0.3s ease-out;
}

.logotype:hover {
  opacity: 0.7;
}

.logotype__auth {
  display: flex;
}
