.page {
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 50px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 428px) {
  .container {
    padding: 0 14px;
  }
}
