@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  /* padding: 18px 70px; */
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(7, 48, 66, 1);
}

.header__logo {
  width: 38px;
  height: 38px;
  background: url(../../images/logo.png) center center no-repeat;
  animation: rotation 10s linear infinite normal;
}

.container {
  padding-right: 70px;
  padding-left: 70px;
}

@media (max-width: 1024px) {
  .header {
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 425px) {
  .header {
    padding-right: 14px;
    padding-left: 14px;
  }
}