.checkbox {
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-left: 1px solid rgba(80, 80, 80, 1);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
}

.checkbox__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.checkbox__label {
  position: relative;
  width: 36px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* изменить фон, на макете неудачный цвет */
  /* background: rgba(32, 32, 32, 1); */
  background-color: rgba(80, 80, 80, 1);
  border-radius: 36px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkbox__label .checkbox__burron {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  transition: 0.2s;
  background: rgba(245, 245, 245, 1);
}

.checkbox__input:checked + .checkbox__label .checkbox__burron {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.checkbox__label:active .checkbox__burron {
  width: 20px;
}

.checkbox__text {
  padding-left: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
