@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.root {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(32, 32, 32, 1);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}
